* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

a {
    color: rgb(4, 35, 136);
    font-size: 19px;
}

.sublink {
    color: seagreen;
    font-size: 15px;
}

a:hover {
    text-decoration-line: underline;
}

header {
    position: fixed;
    z-index: 10;
    height: 68px;
    width: 100%;
    background-color: white;
    border: solid 1px white;
    box-shadow: 3px gray;
    top: 0;
    padding: 10px 0;
}

#prof {
    float: right;
    padding: 20px 15px 0px 15px;
}

#notify {
    float: right;
    padding: 27px 0px 0px 15px;
}

#gapps {
    float: right;
    padding: 29px 0px 0px 15px;
}

.google-logo #googlelogo {
    padding: 0 0 0 39px;
    margin-top: 26px
}

form {
    height: 41px;
    width: 650px;
    position: fixed; 
    z-index: 12;
}

input[type=text] {
    height: 40px;
    width: 525px;
    border-top: transparent;
    border-left: transparent;
    border-bottom: solid transparent 1px;
    border-right: solid transparent 1px;
    border-radius: 25px;
    padding: 0 20px;
    margin: 20px 0 0 170px;
}

input[type=text]:hover {
    height: 40px;
    width: 550px;
    border-top: transparent;
    border-left: transparent;
    border-bottom: solid transparent 1px;
    border-right: solid transparent 1px;
    border-radius: 25px;
    box-shadow: 0px 1px 1px 0px;
    padding: 0 20px;
    margin: 20px 0 0 170px;;
}

.toolkit {
    color: #757575;
    font-size: 13px;
    padding: 0 0 20px 20px;
    margin-bottom: 20px;
}

#setting {
    color: #757575;
    font-size: 13px;
    padding: 0 0 0 15px;
    margin: 0 0 0 130px;
}

#tools {
    color: #757575;
    font-size: 14px;
    padding: 0 0 20px 20px;
}

.resultcount {
    padding: 18px 0 0 0;
    font-size: 16px;
    color: #808080
}

.resultsbar {
    width: 592px;
    padding: 85px 20px 0 20px;
    margin: 10px 0 0 150px;
}

.resultsbar .res-link {
    padding: 20px 0 0 0;
}

.tweetbox {
    position: static;
    display: inline-block;
    width: 173px;
    height: 265px;
    border-top: solid 1px transparent;
    border-right: solid 1px #dfe1e5;
    border-bottom: solid 1px transparent;
    border-left: solid 1px #dfe1e5;
    font-size: 16px;
    overflow: hidden;
    margin: 10px 4px 0px 4px;
    padding: 5px 4px;
}

.tweetbox .tweetlink {
    font-size: 16px;
    color: gray;
}

.tweetbox .tweetbottom a{
    font-size: 18px;  
}

.imglink {
    margin: 20px 0 0 0;
}

.images {;
    margin: 10px 0 0 0;
}

.images .imgbar {
    display: inline-block;
    margin: 5px 0px;
    height: 80px;
    width: 110px;
    overflow: hidden;
}

.relatedtag {
    margin-top: 25px;
}

#related, #related2 {
    display: inline-block;
    min-width: 105px;
}

#related a, #related2 a {
    Height: 103px;
    font-size: 14px;
}